.home-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  margin-top: 20px;
  margin-left: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.selected-content {
  flex-grow: 1;
}

.orders-content,
.profile-content {
  margin-right: 5em;
  margin-bottom: 10em;
}

.profile-content,
.orders-content,
.addresses-content {
  padding: 10px;
  border: 2px solid black;
}

@media screen and (max-width: 900px) {
  .nav-heading {
    display: none;
  }

  .selected-content {
    width: 100%;
  }

  .content-container {
    flex-direction: column;
  }

  .profile-content,
  .orders-content {
    margin: 2em;
  }

  .menu {
    width: 100%;
    align-items: center;
  }

  .menu-card {
    margin: 0 auto;
  }

  .selected-content {
    margin-left: auto;
  }

  .menu-card {
    max-width: 79%;
  }
}
