.brand {
  color: white;
  padding: 10px 4px 25px 4px;
  background-color: #e10000;
  margin-left: 60px;
  margin-right: 0;
}

.nav {
  border-bottom: 1px solid gray;
  padding: 0 0;
  background-color: white !important;
}

.navbar-toggler {
  order: 2;
  margin-right: 25px;
  border: none;
}

.navbar-nav .nav-link:hover {
  color: red !important;
}

.navbar-nav .nav-link {
  transition: color 0.3s;
}
