.profile-card {
  margin: 0 0 1em 0em;
  display: flex;
  align-items: center;
  max-width: 20em;
  transform: scale(0.7);
}

.profile-pic {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  object-fit: cover;
}

.details {
  margin-left: 1em;
  margin-top: 0.5em;
}
