/* Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  color: #bbb;
  padding-top: 4em;
}

.left,
.center,
.right {
  flex: 1;
}

.center,
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left p {
  margin-top: 20px;
}

.address {
  text-align: left;
  max-width: 50%;
  margin-bottom: 40px;
}

.address p {
  margin-bottom: 5px;
}

.contact {
  text-align: left;
  margin-top: 10px;
  padding-right: 75px;
}

.contact p {
  margin-bottom: 5px;
}

.socials {
  display: flex;
  gap: 20px;
}

.logo {
  color: white;
  padding: 10px 6px 30px 6px;
  max-width: 5em;
  background-color: #e10000;
  font-size: 1.5em;
}
