/* Footer.css */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  color: #bbb;
  padding-top: 4em;
}

.left,
.center,
.right {
  flex: 1;
  margin-bottom: 20px;
  max-width: 100%;
}

.center,
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left p {
  margin-top: 20px;
}

.address,
.contact {
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.address p,
.contact p {
  margin-bottom: 5px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo {
  color: white;
  padding: 10px 6px 30px 6px;
  max-width: 5em;
  background-color: #e10000;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 2em;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .left,
  .center,
  .right {
    margin: 0 0 4em 0;
  }
}
