.home-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  margin-top: 20px;
  margin-left: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* padding-right: 3em; */
}

.selected-content {
  flex-grow: 1;
}

.content-name {
  color: #777;
  margin: 0.5em 0 1em 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.orders-content {
  margin-right: 5em;
  margin-bottom: 10em;
}

.profile-content,
.orders-content,
.addresses-content {
  /* Add your styles for the selected content divs */
  padding: 10px;
  border: 2px solid black;
}

@media screen and (max-width: 900px) {
  .nav-heading {
    display: none;
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
  }

  .orders-content {
    margin: 2em;
  }

  .menu {
    margin: 0 auto;
  }

  .selected-content {
    margin-left: auto;
  }

  .menu-card {
    max-width: 79%;
  }

  .selected-content {
    order: 2;
  }
}
