.menu-card {
  display: flex;
  justify-content: space-between;
  /* align-content: flex-start; */
  align-items: center;
  padding: 1px;
  width: 117.5%;
  margin: 1em 10em 0 0em;
  transform: scale(0.7);
  cursor: pointer;
  /* margin-right: 10px; */
}

.menu-card:hover {
  border-bottom: 3px solid gray;
}

.menu-card.clicked {
  border-bottom: 3px solid black;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.sub-name {
  color: gray;
}

.arrow-link {
  font-weight: 800;
  padding-bottom: 2em;
  margin-right: 4em;
}
