.brand {
  color: white;
  padding: 10px 4px 25px 4px;
  background-color: #e10000;
  margin-left: 60px; /* Adjusted margin */
  margin-right: 0; /* Removed conflicting margin */
}

.nav {
  border-bottom: 1px solid gray;
  padding: 0 0;
  background-color: white !important;
}
