/* OrderCard.css */

.order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; /* Optional: Add a border for visualization */
  padding: 10px; /* Optional: Add padding for spacing */
  font-size: 0.8em;
  position: relative;
}

.order-img {
  width: 90px; /* Adjust the size as needed */
  height: 90px; /* Set the same height as the width for a square */
  object-fit: cover;
  border: 6px solid gray;
  margin-right: 1.5em;
}

.no {
  color: #777;
  padding-bottom: 0.2em;
}
.name {
  max-width: 15em;
  font-weight: 800;
  padding-bottom: 0.2em;
}
.delivery {
  color: #777;
}

.payment {
  color: #777;
}

.price {
  max-width: 15em;
  font-weight: 800;
  padding-bottom: 0.2em;
}

.status {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  border-radius: 6px 6px 0px 0px;
  background: #333;
}

.order-details {
  flex-grow: 1; /* Allow the details to take up remaining space */
}

.order-tags {
  text-align: right; /* Align tags to the right */
  margin: 0;
  padding: 0;
}

/* Optional: Style for tags (adjust as needed) */
.order-card p {
  margin: 0;
}
