.profile-card {
  margin: 50px 0 auto 90px;
  display: flex;
  align-items: center;
  max-width: 20em;
  transform: scale(0.9);
}

.profile-pic {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  object-fit: cover;
}

.details {
  margin-left: 1em;
  margin-top: 0.5em;
}
